body {
	font-family: 'Quicksand', sans-serif;
	color: #FFFFFF;
	background-color: #F37272;
}


button#start {
	background: #F67280;
	border-color: #F67280;
}

button#submit {
	background: #343F4F;
	border-color: #343F4F;
}

.clock {
	font-size: 84px;
	color: #FFFFFF;
}

.jumbotron-fluid {
	background-color: #343F4F;
	padding: 20px;
}

.timer {
	margin: 0 auto;
	background-color: #343F4F;
	height: 100vh;
	margin-top: 50px;
}

.task-list{
	background-color: #F37272;
	color: #FFFFFF;
	padding: 0px;
}


.row.task-list {
	border-bottom: 1px solid #FFFFFF;
	padding: 10px 0px;
}

a.task-item:hover {
	cursor: pointer;
	color: #343F4F;
}

.sessions {
	padding-top: 30px;
}

.task-container {
	padding: 10px;
}