<div class="timer text-center">
		<h2>Pomodoro Timer</h2>
		<h3>{{currentTask.$value}}</h3>
		<div ng-show="!onBreak">
			<div class="clock">{{currentTime | prettyTimeFilter}}</div>
			<button type="button" id="start" class="btn-primary btn-lg" ng-show="!onBreak" ng-click="start()">{{btnStatus}}</button>
			<button type="button" id="pause" class="btn-dark btn-lg" ng-click="pauseTimer()">{{pauseStatus}}</button>
		</div>
		<div ng-show="onBreak">
			<h4>Break Time!</h4>
			<div class="clock">{{currentTime | prettyTimeFilter}}</div>
			<button type="button" id="start" class="btn-primary btn-lg" ng-show="onBreak" ng-click="start()">{{btnStatus}}</button>
		</div>
			
		<h4 class="sessions">Completed Sessions: {{completed_sessions}}</h4>
	</div>
