<div class="container">
	<div class="timer mt-5 text-center">
		<h3>Pomodoro Timer</h3>
		<div ng-show="!onBreak">
			<h4>It's Working Time!</h4>
			<div class="clock">{{currentTime | prettyTimeFilter}}</div>
			<button type="button" class="btn-primary btn-lg" ng-show="!onBreak" ng-click="start()">{{btnStatus}}</button>
		</div>
		<div ng-show="onBreak">
			<h4>Break Time!</h4>
			<div class="clock">{{currentTime | prettyTimeFilter}}</div>
			<button type="button" class="btn-primary btn-lg" ng-show="onBreak" ng-click="start()">{{btnStatus}}</button>
		</div>
			

	</div>
</div>